@import url("colorscheme.css");

div.header{
	position: fixed;
	width: 100%;
	background: lightblue;
	text-align: center;
}

div.header{
	position: fixed;
	width: 100%;
	background: lightblue;
	text-align: center;
}

